In [1]:
!pip show snscrape

Name: snscrape
Version: 0.6.2.20230320
Summary: A social networking service scraper
Home-page:
Author: JustAnotherArchivist
Author-email:
License:
Location: c:\users\hp\anaconda3\lib\site-packages
Requires: beautifulsoup4, filelock, lxml, requests
Required-by:

In [2]:
import snscrape.modules.twitter as sntweet
import pandas as pd
from tqdm.notebook import tqdm

In [3]:
keywords = 'artificialintelligence'
scraper = sntweet.TwitterSearchScraper(keywords)

In [5]:
tweets = []
for i , tweet in tqdm(enumerate(scraper.get_items())):
    data = [tweet.date,
    tweet.user.username , 
    tweet.user.location , 
    tweet.rawContent,
    tweet.likeCount]
    tweets.append(data)
    if i > 10 :
        break

0it [00:00, ?it/s]

In [6]:
df=pd.DataFrame(tweets,columns=['date' , 'username' ,'location','tweets' , 'likes'])

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      12 non-null     datetime64[ns, UTC]
 1   username  12 non-null     object
 2   location  12 non-null     object
 3   tweets    12 non-null     object
 4   likes     12 non-null     int64
dtypes: datetime64[ns, UTC](1), int64(1), object(3)
memory usage: 608.0+ bytes

In [8]:
df.head()

,date,username,location,tweets,likes
0,2023-04-15 17:24:35+00:00,rudenetworks,,A.I Art Work 16381\n000043.139232532\n#aiart #...,0
1,2023-04-15 17:24:05+00:00,RogerRehm4,"Los Aneles, CA",How To Buy Reviews On Google\nhttps://t.co/lZi...,1
2,2023-04-15 17:24:02+00:00,KeotusAtNotion,"Virginia, USA",Will The 4-Day Workweek Finally Become Possibl...,0
3,2023-04-15 17:23:15+00:00,Ronald_vanLoon,The Netherlands,Google's new #Robot has taught itself to follo...,1
4,2023-04-15 17:21:45+00:00,aihoneysingh,,AI tool generate art- cute baby in a popcorn b...,2